@import url(http://fonts.googleapis.com/css?family=Arimo);

body {
  background-color: #ebe8e4;
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  margin: 5px 22px;
}

h3, a, a:hover, a:visited {
  color: #34346b;
  text-decoration: none;
}

a:hover {
  color: #dedede;
}

.card {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.55);
  margin: 8px 0;
  padding: 0 15px 24px 15px;
  overflow: hidden;
}

/*
 * main stuff
 */

div.main-container {
  width: 100%;
}

div.main-content {
  margin-right: 280px;
}

/*
 * nav stuff
 */

nav {
  line-height: 56px;
  background-color: #34346b;
  border-radius: 5px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.55);
  margin: 8px 0;
  padding: 0 15px;
  overflow: hidden;
}

nav#navigation a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

nav div.navbar-header {
  font-size: 26px;
  width: 280px;
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0 24px;
}

nav li:hover {
  background-color: #dedede;
}

/*
 * sidebar stuff
 */

div.sidebar {
  float: right;
  width: 240px;
  margin: 0;
}

div.sidebar h4 {
  border: 1px 0 solid black;
  padding: 0 10px;
  line-height: 26px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.55);
}

/*
 * post stuff
 */

div.post div.meta {
  padding: 22px 0 0 0;
  font-size: 14px;
}

/*
 * tag stuff
 */

div.tags {
  float: right;
}

div.tag {
  display: inline-block;
  padding: 5px 10px;
  background: #dedede;
  border-radius: 25px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.55);
}

/*
 * footer stuff
 */

div.footer {
  clear: both;
  text-align: center;
  line-height: 56px;
}
