<div class="sidebar card">
  <h3>Follow Me</h3><hr/>
  <ul class="profile-links">
    <li><a href="http://github.io/vemek"><img alt="GitHub" src="/assets/images/github-icon.png"/></a></li>
    <li><a href="http://twitter.com/vemek"><img alt="Twitter" src="/assets/images/twitter-icon.svg"/></a></li>
    <li><a href="http://www.last.fm/user/vemek"><img alt="Last.fm" src="/assets/images/lastfm-icon.svg"/></a></li>
  </ul>

  <a href="/publickey.txt">PGP Key</a>

  {% include tags.html %}

  <hr/>
  <a class="twitter-timeline" href="https://twitter.com/vemek" data-widget-id="433021459724632064">Tweets by @vemek</a>
</div>
